
<div class="clearfix">
  <button type="button" class="btn btn-primary d-block {{ paragraph.field_button_align.value }}" data-toggle="modal" data-target="#modal-{{ paragraph.id.value }}">
    {{ paragraph.field_button_text_modal.value |raw	}}
  </button>
</div>


<div class="modal fade" id="modal-{{ paragraph.id.value }}" tabindex="-1" role="dialog" aria-labelledby="modal-{{ paragraph.id.value  }}" aria-hidden="true">
  <div class="modal-dialog {{ paragraph.field_modal_size.value | raw }}
    {% if paragraph.field_verticaly_centered.value == 1 %}
      modal-dialog-centered
    {% endif %}" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title-{{ paragraph.id.value }}">
          {{ paragraph.field_modal_title.value |raw }}
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ paragraph.field_modal_content.value | raw }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
