{% set parent = element['#object'] %}
<div class="carousel slide slider-bootstrap" id="slider-{{ parent.id.value }}">
<ol class="carousel-indicators">
{% for index, item in items %}
  <li data-target="#slider-{{ parent.id.value }}" data-slide-to="{{ index }}" {% if loop.first %}class="active" {% endif %}></li>
  {% endfor %}
</ol>
<div class="carousel-inner">
{% for item in items %}
  <div class="carousel-item {% if loop.first %}active{% endif %}">
    {{ item.content }}
  </div>
{% endfor %}
</div>
<a class="carousel-control-prev" href="#slider-{{ parent.id.value }}" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#slider-{{ parent.id.value }}" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
