{% block paragraph %}
  <img src="{{ file_url(paragraph.field_image_slider.entity.field_media_image.entity.fileuri) }}">
<div class="carousel-caption d-none d-md-block">
  <h2>
{{ paragraph.field_title_slider.value }}
  </h2>
  <p>
    {{ paragraph.field_texte.value}}
  </p>
  {% for item in paragraph.field_link_slider %}
    <a href="{{ item.url }}">{{ item.title }}</a>
  {% endfor %}
</div>
{% endblock paragraph %}
