
{% set parent = element['#object'] %}

  {% for item in items %}
    <div class="heading container-fluid" style="background-image: url('{{ file_url(parent.field_image_node.entity.field_media_image.entity.fileuri) }}')">
  <h1> {{ item.content }}</h1>
    </div>
  {% endfor %}
