{% set parent = element['#object'] %}
<div class="owl-carousel owl-theme" id="carousel-{{ parent.id.value }}" data-desktop="{{ parent.field_display_number_des.value }}" data-mobile="{{ parent.field_display_number_mobile.value }}">

    {% for item in items %}
      <div class="item">
        {{ item.content }}
      </div>
    {% endfor %}

</div>
