.media {
  display: block;
}
.plyr--video {
  padding-bottom: 0;
  .plyr__control {
    svg {
      fill: cornflowerblue;
    }
  }
}

.paragraph--type--container,.heading {
  background-size: cover;
  background-position: center;
}
.heading {
  padding-bottom: 10px;
  padding-top: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
}
.block-system-breadcrumb-block {
  nav {
    ol {
      display: inline-flex;
      padding: 0.5rem 1rem;
      li {
        margin-right: 0.5rem;
      }
      li:not(:last-child):after {
        content:'>';

      }
    }
  }
}
.block-local-tasks-block {
  ul {
    display: inline-flex;
    width: 100%;
    background-color: #0a6eb4;
    &:after {
      content: 'Admin only toolbar - will not display for non-logged users';
      display: flex;
      align-items: center;
      margin-left: 10px;
      font-style: Italic;
      color:#fff;
    }
    li {
      padding: 5px;
      border-right: 2px solid #fff;
      a {
        color: #fff;
      }
    }
  }
}
