{% set parent = element['#object'] %}
{% set animation =  parent.field_animation_icon.value %}

<div class="row">
    {% for key,item in items %}
      <div  {% if animation %}
        data-aos="{{ animation }}"
        data-aos-delay="{{ (key + 1) * 150 }}"
        data-aos-easing="linear"
      {% endif %}
        class="col-12 col-sm-12 col-md-6 col-lg col-xl text-center">
        {{ item.content }}
      </div>
    {% endfor %}
</div>
